<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestpay.settlesystem.persistence.dao.SequenceMapper">

	<select id="getSqSettlePeriod" parameterType="String" resultType="long">
		select SQ_T_STT_SETTLE_PERIOD.nextval from dual
	</select>
</mapper>
