<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nice.dal.dao.TSttSettleSchemeMapper" >
  <resultMap id="BaseResultMap" type="com.nice.dal.model.TSttSettleScheme" >
    <id column="SCHEME_ID" property="schemeId" jdbcType="DECIMAL" />
    <result column="SCHEME_NAME" property="schemeName" jdbcType="VARCHAR" />
    <result column="TRS_CODE" property="trsCode" jdbcType="VARCHAR" />
    <result column="SETTLE_TYPE_ID" property="settleTypeId" jdbcType="VARCHAR" />
    <result column="SETTLE_PERIOD" property="settlePeriod" jdbcType="DECIMAL" />
    <result column="WORK_FLAG" property="workFlag" jdbcType="VARCHAR" />
    <result column="STAT" property="stat" jdbcType="CHAR" />
    <result column="AUDIT_ID" property="auditId" jdbcType="VARCHAR" />
    <result column="AUDIT_DATE" property="auditDate" jdbcType="TIMESTAMP" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    SCHEME_ID, SCHEME_NAME, TRS_CODE, SETTLE_TYPE_ID, SETTLE_PERIOD, WORK_FLAG, STAT, 
    AUDIT_ID, AUDIT_DATE, MEMO
  </sql>
    <resultMap id="SettleSchemeInfoResultMap" type="com.bestpay.marketing.persistence.vo.SettleSchemeInfoVo" extends="BaseResultMap">
        <result column="trs_name" property="trsCodeName" jdbcType="VARCHAR" />
    </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_STT_SETTLE_SCHEME
    where SCHEME_ID = #{schemeId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_STT_SETTLE_SCHEME
    where SCHEME_ID = #{schemeId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.nice.dal.model.TSttSettleScheme" >
    insert into T_STT_SETTLE_SCHEME (SCHEME_ID, SCHEME_NAME, TRS_CODE, 
      SETTLE_TYPE_ID, SETTLE_PERIOD, WORK_FLAG, 
      STAT, AUDIT_ID, AUDIT_DATE, 
      MEMO)
    values (#{schemeId,jdbcType=DECIMAL}, #{schemeName,jdbcType=VARCHAR}, #{trsCode,jdbcType=VARCHAR}, 
      #{settleTypeId,jdbcType=VARCHAR}, #{settlePeriod,jdbcType=DECIMAL}, #{workFlag,jdbcType=VARCHAR}, 
      #{stat,jdbcType=CHAR}, #{auditId,jdbcType=VARCHAR}, #{auditDate,jdbcType=TIMESTAMP}, 
      #{memo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nice.dal.model.TSttSettleScheme" >
    insert into T_STT_SETTLE_SCHEME
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="schemeId != null" >
        SCHEME_ID,
      </if>
      <if test="schemeName != null" >
        SCHEME_NAME,
      </if>
      <if test="trsCode != null" >
        TRS_CODE,
      </if>
      <if test="settleTypeId != null" >
        SETTLE_TYPE_ID,
      </if>
      <if test="settlePeriod != null" >
        SETTLE_PERIOD,
      </if>
      <if test="workFlag != null" >
        WORK_FLAG,
      </if>
      <if test="stat != null" >
        STAT,
      </if>
      <if test="auditId != null" >
        AUDIT_ID,
      </if>
      <if test="auditDate != null" >
        AUDIT_DATE,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="schemeId != null" >
        #{schemeId,jdbcType=DECIMAL},
      </if>
      <if test="schemeName != null" >
        #{schemeName,jdbcType=VARCHAR},
      </if>
      <if test="trsCode != null" >
        #{trsCode,jdbcType=VARCHAR},
      </if>
      <if test="settleTypeId != null" >
        #{settleTypeId,jdbcType=VARCHAR},
      </if>
      <if test="settlePeriod != null" >
        #{settlePeriod,jdbcType=DECIMAL},
      </if>
      <if test="workFlag != null" >
        #{workFlag,jdbcType=VARCHAR},
      </if>
      <if test="stat != null" >
        #{stat,jdbcType=CHAR},
      </if>
      <if test="auditId != null" >
        #{auditId,jdbcType=VARCHAR},
      </if>
      <if test="auditDate != null" >
        #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nice.dal.model.TSttSettleScheme" >
    update T_STT_SETTLE_SCHEME
    <set >
      <if test="schemeName != null" >
        SCHEME_NAME = #{schemeName,jdbcType=VARCHAR},
      </if>
      <if test="trsCode != null" >
        TRS_CODE = #{trsCode,jdbcType=VARCHAR},
      </if>
      <if test="settleTypeId != null" >
        SETTLE_TYPE_ID = #{settleTypeId,jdbcType=VARCHAR},
      </if>
      <if test="settlePeriod != null" >
        SETTLE_PERIOD = #{settlePeriod,jdbcType=DECIMAL},
      </if>
      <if test="workFlag != null" >
        WORK_FLAG = #{workFlag,jdbcType=VARCHAR},
      </if>
      <if test="stat != null" >
        STAT = #{stat,jdbcType=CHAR},
      </if>
      <if test="auditId != null" >
        AUDIT_ID = #{auditId,jdbcType=VARCHAR},
      </if>
      <if test="auditDate != null" >
        AUDIT_DATE = #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where SCHEME_ID = #{schemeId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nice.dal.model.TSttSettleScheme" >
    update T_STT_SETTLE_SCHEME
    set SCHEME_NAME = #{schemeName,jdbcType=VARCHAR},
      TRS_CODE = #{trsCode,jdbcType=VARCHAR},
      SETTLE_TYPE_ID = #{settleTypeId,jdbcType=VARCHAR},
      SETTLE_PERIOD = #{settlePeriod,jdbcType=DECIMAL},
      WORK_FLAG = #{workFlag,jdbcType=VARCHAR},
      STAT = #{stat,jdbcType=CHAR},
      AUDIT_ID = #{auditId,jdbcType=VARCHAR},
      AUDIT_DATE = #{auditDate,jdbcType=TIMESTAMP},
      MEMO = #{memo,jdbcType=VARCHAR}
    where SCHEME_ID = #{schemeId,jdbcType=DECIMAL}
  </update>
</mapper>